<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialog").hide();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function getdialogtry(vid){
            //alert(vid);
            var state = vid;
            var url = "/SchApp/account/getsubaccount/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialog").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:270,
                width:410,
                title:'Edit Account',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>

</head>
<body>
<table align ="left" style="border:0px solid black;width:100%">
    <!--  <img src="/static/imgs/printer.jpeg" style="width:30px;height: 30px "  onclick="openrecprint();" >
    <input name="submit" type= "submit" value="Print Report  " onclick="openrecprint();">-->
    <tr>
        <td colspan ="30">
            <div class="printable">
                <table align ="center" style="width:100%;">
                    <tr>
                        <td>
                            <table align ="left" style="width:100%;background-color:white;border-collapse:collapse;">
                                <tr>
                                    <td align="left" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle"><strong>Acc. Code </strong></td>
                                    <td align="left" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle"><strong>Account Name</strong></td>
                                    <td align="left" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle"><strong> Sub Name</strong></td>
                                    <td align="left" valign="top" style = "width:auto ;height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle"><strong> Group Name</strong></td>
                                </tr>
                                {% for pincode in getdetails %}
                                    <tr>
                                    <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"><strong> {{ pincode.acccode|upper }}</strong></td>
                                    <!--<td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong><a href="/editacc/{{ pincode.acccode }}/" style ="color:red;" title="Edit {{ pincode.accname|upper }} "> {{ pincode.accname|upper }} </a></strong></td>-->
                                    <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong><a href="#" style ="color:red;" title="Edit {{ pincode.accname|upper }} " onClick= "getdialogtry({{ pincode.acccode  }});"> {{ pincode.accname|upper }} </a></strong></td>

                                    <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong>{{ pincode.subgroupname|upper}}</strong></td>
                                    <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong>{{ pincode.groupname|upper}}</strong></td>
                                {% endfor %}
                                </tr>
                            </table>
                        </td></tr>
                </table>

            </div>

        </td>
    </tr>

</table>
<div id="myDialog" title="Edit Account">
</div>
</body>
</html>
