{% extends "setup/basesetup.htm" %}
{%block content%}

<div align ="center" style="background-color:;border:0px solid black;width:100%;height:4%; font-size:12px;color:white"> <strong>CREATE MINI STORE </strong> </div>
<div align="center" style="color:red;font-family:courier;font-size:13px;text-decoration:blink;" > {{varerr}}</div>
<table align ="left" style="width:100%">
<tr>
    <td colspan="7">
    <form action="/SchApp/account/ministore/" method="post" name ="main" onsubmit="disable(this)">
<table align ="left" style="width:auto">
<tr>
        <td>
Name :
        </td>
<td>{{ form.accname}}
</td>
<td>{{ form.accname.errors}}
</td>
</tr>
<tr>

<td colspan="2" style="text-align:center">

<input name="submit" type= "submit" value="   Create Mini-Store  " >
 </td>

</tr>
    </table>
</form>
    </td>
</tr>
<tr>
    <td colspan="7">

<table align ="left" style="width:auto;background-color:white;border-collapse:collapse;" >
 <tr>
             <td align="center" valign="top" style = "width:auto;height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle;"><strong>Name</strong></td>
              <td align="center" valign="top" style = "width:auto;height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle;"><strong>Code </strong></td>
             <!-- <td align="center" valign="top" style = "width:auto;height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle;"><strong> Account Name</strong></td>-->
             <!-- <td align="center" valign="top" style = "width:auto;height:20px;background-color:#E6E6E6;font-size:14px;border:1px solid black;color:#000000;vertical-align:middle;"><strong> Account Code</strong></td>-->
               </tr>
         {% for pincode in getdetails %}
           <tr>
             <!-- <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:red;border:1px solid black;"> <strong><a href="/editministore/{{ pincode.acccode }}/" style ="color:red"> {{ pincode.stockname|upper }} </a></strong></td>-->
             <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:red;border:1px solid black;"> <strong><a href="#" style ="color:red" onClick= "getdialogtry({{ pincode.acccode }});"> {{ pincode.stockname|upper }} </a></strong></td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:black;border:1px solid black;"><strong> {{ pincode.acccode|upper }}</strong></td>
           <!--   <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:black;border:1px solid black;"> <strong>{{ pincode.subname|upper}}</strong></td>-->
            <!--  <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:black;border:1px solid black;"> <strong>{{ pincode.subcode|upper}}</strong></td>-->
           {% endfor %}
            </tr>
</table>
    </td>
    </tr>
</table>
    <div id="myDialog" title="Edit Account">
    </div>

    <script type="text/javascript">
        document.getElementById('id_accname').focus()
    </script>
    <script language="javascript" type="text/javascript">
        function openrecprint()
        {
            //alert("welcome");
            $( ".printable" ).print();
        }
    </script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialog").hide();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function getdialogtry(vid){
            //alert(vid);
            var state = vid;
            //alert(state);
            var url = "/SchApp/account/getministore/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialog").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:250,
                width:410,
                title:'Edit Mini-Store',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>

 {%endblock%}