{% extends "base.html" %}
{%block content%}
    <table align ="center" style="border: 0px solid #f5deb3; width: 100%; position: relative; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;" cellspacing="3" cellpadding="3" >
        <tr align = "center"> </tr>
        <tr>
            <td  title="Account Set Up">
                <a href="/SchApp/account/entersetup/" >
                    <div class="app_menu">1. Account Setup
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td  title="Posting Module">
                <a href="/SchApp/account/posting/wel/" >
                    <!-- <a href="/SchApp/account/posting/invoice/" > -->
                    <div class="app_menu">  2. Posting  Module
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td  title="Stock Management">
                <a href="/SchApp/account/stock/wel/" >
                    <div class="app_menu">  3. Stock Management
                    </div
                </a>
            </td>
        </tr>
        <tr>
            <td  title="Budget">
                <a href="/SchApp/account/budget/enterbudget/" >
                    <div class="app_menu">  4. Budget
                    </div>
                </a>

            </td>
        </tr>

        <tr>
            <td  title="Temporary Posting">
                <a href="/SchApp/account/newyear/receipt/" >
                    
                    <div class="app_menu">5. Temporary Posting
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td title="Bank Reconciliation">
                <a href="/SchApp/account/recon/unpresented/" >
                    <div class="app_menu"> 6. Bank Reconciliation
                    </div>
                </a>
            </td>
        </tr>
        <tr>    <td  title="Financial Report">
                <a href="/SchApp/account/report/trialbalancerep/" >
                    <div class="app_menu">  7. Financial Report
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td  title="Asset Register">
                <a href="/SchApp/account/assets/welcome/" >
                    <div class="app_menu"> 8. Assets Register
                    </div>
                </a>
            </td>
        </tr>

        <tr>
            <td  title="Super User">
                <a href="/SchApp/account/sysadmin/accrollover/"  >
                    <div class="app_menu"> 9. Super User
                    </div>
                </a>
            </td>
        </tr>
    </table>



{%endblock%}
