{% extends "rwadmin/base.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}

<div class="adv1"><div class="advin" align="left" ><img style ="width:25px;height:25px;float:left;" src ="/static/imgs/loogo.png" ></div> <div class="advout" align="right"> Welcome, {{varuser|upper}} |<a href="/welcome/"> Main Page </a>|<a href="/logoutuser/"> Log Out </a></div></div>
<div class="pmiddle">
<div style = "color:black;font-size:16px;border:0px solid black;" align = "center"></div>

</div>
 {%endblock%}