{% extends "payroll/base.htm" %}

{%block head %}
    {%block title %}{%endblock%}
{%endblock %}
{%block content%}
    <div class="pmiddle">
        <div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>PAYROLL MODULE  </strong> </div>
        <!--<img style ="float:left;width:50px;height:50px" src="/static/imgs/cp.jpeg" alt="">-->
        <div style="font-family:verdana;"><h1>User's Guide</h1></div>
        <p>
            Welcome to The PAYROLL Module. This Module contains the following links which you can make use of provided you are giving the privilege:
        <ul>
            <li><h2>Enter Working Days</h2></li>
            <p>
                Here,we enter and get the no of days staff worked for the month to pay the staff based on the days he/she worked.
            </p>
            <li><h2> Staff Bank Details</h2></li>
            <p>
                This link takes care of the staff bank account details.
            </p>
            <li> <h2> Compute Payroll </h2></li>
            <p>
                Here, We compute the salary for a chosen  month.
            </p>
            <li><h2>Print Payroll Schedule </h2></li>
            <p>
                This link is for us to print our monthly payroll schedule for approval.
            </p>
            <li><h2> Print PaySlip</h2> </li>
            <p>
                We use this link to print our monthly payslip for individual staff.
            </p>
            <li> <h2> Schedule to Bank</h2></li>
            <p>
               This is the report we send to bank for corresponding posting to our staffs account.
            </p>
        </ul>
        </p>

    </div>

{%endblock%}