{% extends "stock/base.htm" %}
{%block content%}
<div align ="left" style="border:1px solid black;background-color:white;width:75%;height:10%;font-family: verdana;color:black">
<div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>PROCESSING SUCCESSFULL  </strong> </div>
<table align ="center" style="border:0px solid black;width:100%;">
 <tr>
<td>
</td>
<td style = "font-size:12px;color:blue;font-family:verdana">
<strong>Transaction Id :</strong>
</td>
<td style = "font-size:20px;color:black;font-family:verdana">
<strong>{{vartransid}}</strong>
</td>
<td>
</td>
 </tr>
 </table>
</div>

{%endblock%}