{% extends "train/base.htm" %}

{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
    <div class="pmiddle">
        <div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>TRAINING MODULE  </strong> </div>
        <!--<img style ="float:left;width:50px;height:50px" src="/static/imgs/cp.jpeg" alt="">-->
        <div style="font-family:verdana;font-size:16px">User's Guide</div>
        <p>
            This Module contains the following links which you can make use of provided you are giving the privilege:
        <ul>
            <li><h2>Setup Training</h2></li>
            <p>
                This link allows us to set up our various types of TRAINING.
            </p>
            <li><h2> Staff On Training</h2></li>
            <p>
                This is to manage staff Training request.
            </p>
            <li> <h2> Training Report </h2></li>
            <p>
                To get the report of staffs that have gone for a particular training in a particular year.
            </p>
            <li><h2>Yet to go on Training </h2></li>
            <p>
                This link is to manage staff that have not gone on a particular TRAINING in a particular year.
            </p>

        </ul>
        </p>

    </div>

{%endblock%}