{% extends "train/base.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
<div class="pmiddle">
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;font-family:verdana;font-size:11px;color:black">
<div align ="center" style="background-color:black;border:0px solid black;width:100%; font-size:12px;color:white"> <strong>STAFF YET TO BE TRAINED </strong> </div>
<div align="center" style="color:red;font-family:verdana;font-size:16px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<table  style = "font-family:verdana;font-size:12px;width:85%">

                    <tr>

                        <td colspan="10">
                            <form action="" method="post" name ="main" onsubmit="disable(this)">
<table align ="left" style="border:1px solid black;width:auto;background-color:gray;">
<tr>
        <td align ="left" style="width:auto">
Training Type :
        </td>
<td align ="left" style="width:auto" >{{ form.typeoftrain}}
</td>
        <td align ="left" style="width:auto">
Year Of Training :
        </td>
<td align ="left" style="width:auto" >{{ form.trainyear}}
</td>
<td align ="left" style="width:auto">

<input name="submit" type= "submit" value="Submit" >
 </td>
</tr></table>
</form>
<tr>
    <td colspan="10">


<input name="submit" type= "submit" value="Print Report"  onclick = "openrec();">
 <div class="printable">
<table align ="center" style="border:0px solid black;width:100%;background-color:white">
<tr>
 <td align="left" valign="top" style = "width:auto; height:10px;background-color:white;font-size:9px"><strong> </strong></td>
              <td align="left" valign="top" style = "width:auto; height:10px;background-color:white;font-size:9px"><strong></strong></td>
             <td align="left" valign="top" style = "width:auto; height:10px;background-color:white;font-size:12px" colspan = "3"><img align ="center" style = "left:10%;float:left;padding:5px;border:0px;width:45px;heigth:45px" src ="/static/{{comp.picture}}" > {{comp.name}}<br>{{comp.address}}</td>

                          </tr>
               <tr><td colspan ="5" align ="center"> STAFF YET TO BE TRAINED ON {{tra}} FOR {{tye}}</td>
                   <td colspan ="5" style="float:right;font-size:10px;">{{ printdate }}</td>
               </tr>

<tr>
    <td colspan = "10">
    <table style="width:100%;color:black;border-collapse:collapse;">
<tr>
              <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Staff Id</strong></td>
              <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Name</strong></td>
               <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Sex</strong></td>
                <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Designation</strong></td>
               <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Department</strong></td>
                <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black"><strong> Branch</strong></td>
                         </tr>

         {% for pincode in staffdata1 %}
           <tr>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> {{ pincode.staffid }} </td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">  {{ pincode.name|title }} </td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">  {{ pincode.sex }} </td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> {{ pincode.designation }}</td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">  {{ pincode.department }} </td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">  {{ pincode.branch }}</td>

                                     {% endfor %}
</tr>
    </table> </td></tr>

</table>
 </div>
    </td>
</tr>
</table>

</div>

<!-- parti-->
<script>
$(document).ready(function() {
                 $("#id_trainyear").focus();

});
</script>
<script language="javascript" type="text/javascript">
function openrec()
{
  //alert("welcome");
   $( ".printable" ).print();


}
</script>
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing ...';
            button.disabled = 'true';
            return true;
        }
    </script>

</div>
 {%endblock%}