{% extends 'base2.html' %}
{% block content %}
    <h1>FORUM - USER REGISTRATION:</h1>
    <p>Welcome to our forum.This platform provides an avenue to register and post your comment about our company the public.</p>
    <div style="background-color:#e6e6fa;position:relative;padding: 10px" align="center">
    <div style="background-color:#e6e6fa;font-size: 14px;color:red;text-decoration:blink;width:100%;height:10%" align="center">{{ varerr }}</div>
    <form method="post" action="">
        <table style="background-color:#f5f5f5; color:#000000;" border="0" cellpadding="2" cellspacing="2"  align="center">
            <tr>
                <td colspan="4">
                    <h2>User - Registration</h2>
                </td>
            </tr>
            <tr>
                <td>E-mail :</td>
                <td> {{ form.email }}</td>
                <td>{{ form.email.errors }}</td>
            </tr>
            <tr>
                <td>Password :</td>
                <td> {{ form.password }}</td>
                <td>{{ form.password.errors }}</td>
            </tr>
            <tr>
                <td>Fullname :</td>
                <td> {{ form.name }}</td>
                <td>{{ form.name.errors }}</td>
            </tr>
            <tr>
                <td></td>
                <td> <input name="submit" type= "submit" value="Submit Registration"></td>
                <td></td>
            </tr>
        </table>
    </form>

    </div>
{% endblock %}