{% extends "recon/base.htm" %}
{% load humanize %}
{%block content%}
<div align ="center" style="background-color:#ccccc0;width:100%;height:5%; font-size:17px;color:black">Uncredited Lodgement</div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<table align ="center" style="border:0px solid black;width:100%">
    <tr><td colspan="8">
<form action="" method="post" name ="main" id = "form1" onsubmit="disable(this)">
<table align ="left" style="border:1px;color:black;width:100%">

    <tr>
        <td>
            Account Name :
        </td>
        <td>{{ form.accname}}
        </td>
        <td colspan = 2>{{ form.accname.errors}}
        </td>
    </tr>

<tr>
        <td>
Account Code :
        </td>
<td>{{ form.acccode}}
</td>
<td colspan = 2>{{ form.acccode.errors}}
</td>
</tr>

<tr>
        <td>
Account Balance :
        </td>
<td>{{ form.accbal}}
</td>
<td colspan = 2>{{ form.accbal.errors}}
</td>
</tr>

<tr>
        <td>
Transaction Date :
        </td>
<td>{{ form.transdate}}
</td>
<td colspan = 2>{{ form.transdate.errors}}
</td>
</tr>
<tr>
        <td>
Reference No :
        </td>
<td>{{ form.refno}}
</td>
<td colspan = 2>{{ form.refno.errors}}
</td>
</tr>
<tr>
        <td>
Particulars :
        </td>
<td>{{ form.particulars}}
</td>
<td colspan = 2>{{ form.particulars.errors}}
</td>
</tr>

<tr>
        <td>
Amount :
        </td>
<td>{{ form.transamount}}
</td>
<td colspan = 2>{{ form.transamount.errors}}
</td>
</tr>
<tr >
<tr>
<td align ="left" style="width:30%">


 </td>
<td align ="left" style="width:30%">

<input name="submit" type= "submit" value="Submit">
 </td>
</tr>
</table>
</form>
<tr>
<td colspan = 8>
<div class = "box"> </div>

</td>
</tr>
</table >
<script language="javascript" type="text/javascript">
function openrec()
{
  //alert("welcome");
   var uid = $("#id_acccode").val();
   var data='userid='+uid;

   //alert(data);
   $.ajax({
    type:"POST",
    url:"/SchApp/account/recon/ajaxalluncr/",
    data:data,
    success:function(html) {
         $(".box").show();
         $(".box").html(html);

    }

 });
  // alert("error");
   return false;

}
</script>
<script>
$(document).ready(function() {
    var pickerOpts = {
        //appendText: "mm/dd/yy",
        //defaultDate: "+5",
        showOtherMonths: true,
        changeMonth: true,
        changeYear: true
       // showButtonPanel: true
        // showOn: "button"
    };
         $("#id_transdate").datepicker(pickerOpts);
         //alert("welcome");
    $("#id_accname").focus();
    $(".box").hide();
    autocomplete();
});
</script>
<script>
$(document).ready(function() {
  $(".listbox").hide();
  $("#id_acccode").keyup(function () {
          //alert("welcome");
   $("#id_accname").val("");
   $("#id_accbal").val("");
   var uid = $("#id_acccode").val();
   var data='userid='+uid;

   //alert(data);
   $.ajax({
    type:"POST",
    url:"/SchApp/account/recon/ajax/",
    data:data,
    success:function(html) {
         $(".listbox").show();
         $(".nameslist").html(html);
         //$("#test").html(html);
         $('li').hover(function(){
         $(this).addClass('hover');
          },function(){
         $(this).removeClass('hover');
          });
         $('li').click(function(){
         var newdata = $(this).text();
         var commsep = newdata.split(",");
         //$("#id_cusname").val($(this).text()); cusbal
         $("#id_accname").val(commsep[1]);
         $("#id_acccode").val(commsep[0]);
         $("#id_accbal").val(commsep[2]);
         $('.listbox').hide();
         openrec()



          });

    }
});
   //alert("error");
   return false;
});
});

</script>



    <script type="text/javascript" language="javascript">
        function autocomplete(){
            $("#id_accname").autocomplete({
                //minLength: 0
                source: "/SchApp/account/recon/ajax/",
                focus: function(event, ui){
                    $( "#id_accname" ).val( ui.item.accname );
                   // $( "#id_acccode" ).val( ui.item.acccode );
                    //$( "#id_staffname" ).val( ui.item.label.name );
                    // populateForm(ui.item.value);
                    //openrec();
                    return false;
                },
                select: function( event, ui ) {
                    $( "#id_acccode" ).val( ui.item.acccode );
                    $( "#id_accname" ).val( ui.item.accname );
                    $( "#id_accbal" ).val( ui.item.accbal );
                    //alert('welcome');
                    var uid = ui.item.acccode;
                    var data='userid='+uid;
                    $.ajax({
                        type:"POST",
                        url:"/SchApp/account/recon/ajaxalluncr/",
                        data:data,
                        success:function(html) {
                            $(".box").show();
                            $(".box").html(html);

                        }

                    });
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

        }

    </script>

    <script type="text/javascript" >
        $(document).ready(function() {
            $("#id_accname").keyup(function () {
                $( "#id_accbal" ).val("");
                $( "#id_acccode" ).val("");
            });
        });
    </script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
<script language="javascript" type="text/javascript">
    function openrec()
    {
        var data='userid='+'test';
        $.ajax({
            type:"POST",
            url:"/header/",
            data:data,
            success:function(html) {
                $(".boxnn").show();
                $(".boxnn").html(html);
            }
        });
        return false;
    }
</script>

{%endblock%}