{% load humanize %}
<table style="border-collapse:collapse;width:100%;">
    <tr style="border-bottom:solid #000000">
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid #000">S/N</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Name</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Sex</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Admission No</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Class</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Arm</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">House</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Day/Boarding</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">Phone Number</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black">E-Mail</td>
        <td style="font-weight: bold; background-color: #000; text-align:left;color:white;border:1px solid black"></td>
    </tr>
    {% for student in data %}
        <tr>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ forloop.counter }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.fullname }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.sex }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.admissionno }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.admitted_class }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.admitted_arm }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.house }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.dayboarding }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.fathernumber }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">{{ student.fatheremail|lower }}</td>
            <td style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"><a href="/student/search/{{ student.id }}/" style="color:blue;font-weight:bold;font-size:12px;">View Details</a></td>
        </tr>
    {% endfor %}

</table>