{% extends 'student/base.htm' %}
{% block content %}
    <table >       
                        <form action="" method="POST" onsubmit="disable(this)">
                        <tr>
                            <td>{{ form.session.label }}</td>
                            <td>{{ form.session }}</td>
                            <td>{{ form.klass.label }}</td>
                            <td>{{ form.klass }}</td>
                            <td>{{ form.arm.label }}</td>
                            <td>{{ form.arm }}</td>
                            <td>{{ form.dayboarding.label }}</td>
                            <td>{{ form.dayboarding }}</td>
                            <td>{{ form.filtermethod.label }}</td>
                            <td>{{ form.filtermethod }}</td>
                            <td>{{ form.excelfile.label }}</td>
                            <td>{{ form.excelfile }}</td>
                            <td  style="text-align: center; vertical-align: middle;"><input type="submit" value=":: View Report ::" name = "submit"></td>
                        </tr>
                </form>
</table>

<table>
        {% if students_list %}
    <tr>  
            <input name="submitprint" type= "submit" value="Print Report" onclick = "openrecprint();">
            <div class="printable">
                <tr>
                    <td >
                        <img style="width: 120px; height: 50px;" src="/static/{{ school.logo }}" alt="{{ school.name }}">
                    </td>
                    <td >
                        <span style="font-size:20px;font-weight:bold;">{{ school.name }}</span><br>
                        {{ school.address }}<br>{{ school.website }}
                    </td>
                </tr>
                <tr>
                    <td>Student List for {{ disclass }}&nbsp;{{ disarm }} {{ session }} Session</td>

                </tr>
                            <tr class = 'ajaxhead' >
                                <td >S/N</td>
                                <td >Name</td>
                                <td >Sex</td>
                                <td >Admission No</td>
                                <td >Class</td>
                                <td >Arm</td>
                                <td >House</td>
                                <td >Day/Boarding</td>
                                <td >Parent Phone </td>
                                
                                <td >Parent E-Mail</td>
                            </tr>
                            {% for student in students_list %}
                                <tr class = 'ajaxbody3'>
                                    <td >{{ forloop.counter }}</td>
                                    <td >{{ student.fullname }}</td>
                                    <td >{{ student.sex }}</td>
                                    <td >{{ student.admissionno }}</td>
                                    <td >{{ student.admitted_class }}</td>
                                    <td >{{ student.admitted_arm }}</td>
                                    <td >{{ student.house }}</td>
                                    <td >{{ student.dayboarding }}</td>
                                    <td >{{ student.fathernumber }}</td>
                       
                                    <td >{{ student.fatheremail|lower }}</td>
                                </tr>
                            {% endfor %}
            </div>
 </tr>     
        {% endif %}

    </table>
<script language="javascript" type="text/javascript">
        function openrecprint()
        {
            //alert("welcome");
            $( ".printable" ).print();
        }
</script>
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
<!--
<div style="width: 100%;">
    <input type="button" value="Print">
    <em style="text-decoration: infotext; ">Download report as <a href="/students/report/download?format=pdf">pdf</a>&nbsp;
    or&nbsp;<a href="/students/report/download?format=xls">xls</a>&nbsp;(MS Excel format)</em>
</div>
-->

{% endblock %}