{% extends "basesetup.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
<div class="pmiddle">
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;heigth:10%;font-family: verdana;color:black">
<div align ="center" style="background-color:gray;border:0px solid black;width:100%;heigth:10%; font-size:12px;color:white">EDIT DESIGNATION </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<table align ="center" style="border:0px solid black;width:100%;">

<form action="" method="post" name ="main">
<tr>
<td>
Description :
</td>
<td>
<input type ="text" id="acccode" size="20" name="acccode" value ="{{getdetails.desc}}">
</td>
</tr>
<tr>
        <td align ="left" style="width:30%">
<input type="hidden" name="hcode"
value="{{getdetails.id}}">
          </td>
<td align ="left" style="width:30%">
<input name="submit" type= "submit" value="  Update  " class = "submit">
 </td>
<td align ="left" style="width:30%">

<a  href ="/hrm/hrm/deletedesg/{{getdetails.id}}" style ="color:Black;;font-size:9px"> <img style =border:0px"width:25px;heigth:25px" src ="/static/imgs/editdelete.png" >  </a>Delete Record </td>
 </tr>
</form>

 </table>
</div>

<!-- parti-->
<script type="text/javascript">
document.getElementById('accname').focus()
</script>


 {%endblock%}