{% extends "hrm/base.htm" %}

{%block head %}
{%block title %} Solutions{%endblock%}
{%endblock %}
{%block content%}
    <div class="pmiddle">
        <div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>HUMAN RESOURCES MODULE  </strong> </div>
        <!--<img style ="float:left;width:50px;height:50px" src="/static/imgs/cp.jpeg" alt="">-->
        <div style="font-family:verdana;"><h1>User's Guide</h1></div>
     <p>
         Welcome to The Human Resources Module. This Module contains the following links which you can make use of provided you are giving the privilege:
         <ul>
        <li><h2>New Staff Record</h2></li>
        <p>
        Here, new staff information is taking in to the system by fill in the appropriate textboxes provided.
        </p>
        <li><h2> Edit Staff Record</h2></li>
        <p>
            In case of any mistake or any new information about any staff, you click this link and put the name of the staff, click on his staff id and edit his/her record accordingly.
        </p>
        <li> <h2> Staff Education </h2></li>
        <p>
            You click this link to enter any staff educational history or to amend in case of any mistake.
        </p>
        <li><h2>Professional Education/Body </h2></li>
        <p>
            This link is to append any Professional qualification to any staff.
        </p>
        <li><h2> Staff Report </h2> </li>
        <p>
            Staff Report can be generated based on staff status, so this link is to generate such report.
        </p>
        <li> <h2> Staff Individual Report</h2></li>
        <p>
            This link is to generate staff individual report.
        </p>
         </ul>
     </p>

    </div>
 {%endblock%}