{% extends "hrm/base.htm" %}
{%block head %}
{%block title %}Solutions{%endblock%}
{%endblock %}
{%block content%}
<div class="pmiddle">
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;font-family: verdana;color:black">
<div align ="center" style="background-color:#ccccc0;border:0px solid black;width:100%; font-size:12px;color:black">STAFF PROFESSIONAL RECORD </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>

    <table style="width:100%">
        <tr>
            <td colspan="8">
    <form action="" method="post" name ="main" onsubmit="disable(this)">
    <table align ="left" style="width:auto;">
        <tr>
            <td>
                Staff Name :
            </td>
            <td>{{ form.staffname}}
            </td>
            <td>{{ form.staffname.errors}}
            </td>
        </tr>
<tr>
        <td>Staff Id :
        </td>
<td>{{ form.staffid}}
</td>
<td>{{ form.staffid.errors}}
</td>
</tr>

<tr>
        <td>
Professional Body:
        </td>
<td>{{ form.bodyname}}
</td>
<td>{{ form.bodyname.errors}}
</td>
</tr>
<tr>
        <td>
Qualification :
        </td>
<td>{{ form.qualification}}
</td>
<td>{{ form.qualification.errors}}
</td>
</tr>
<tr>
        <td>
Graduation Year :
        </td>
<td>{{ form.exityear}}
</td>
<td>{{ form.exityear.errors}}
</td>
</tr>
<tr>
<td colspan="3" style="text-align:center;">

<input name="submit" type= "submit" value="Submit Record">
 </td>
<td>
</td>
</tr>
</table>
</form>
</td>
</tr>
<tr>
<td colspan = "8">
<input name="submitprint" type= "submit" value="Print Report"  onclick = "openrecprint();">
<div class="printable">

<div class = "box"> </div>
</div>
</td>
</tr>
</table>
</div>
</div>
<!-- parti-->

<script language="javascript" type="text/javascript">
function openrec()
{
  //alert("welcome");
   var uid = $("#id_staffid").val();
   var data='userid='+uid;

   //alert(data);
   $.ajax({
    type:"POST",
    url:"/hrm/hrm/eduajaxallproff/",
    data:data,
    success:function(html) {
         $(".box").show();
         $(".box").html(html);

    }

 });
  // alert("error");
   return false;

}
</script>
<script>
$(document).ready(function() {
        // $("#id_transdate").datepicker();
         //alert("welcome");
         $("#id_staffname").focus();
         //$(".box").hide();
    autocomplete();
});
</script>
<script>
$(document).ready(function() {
  $(".listbox").hide();
  $("#id_staffname").keyup(function () {
          //alert("welcome");
   $("#id_staffid").val("");
   //$("#id_accbal").val("");

});
});

</script>
<script language="javascript" type="text/javascript">
function openrecprint()
{
  //alert("welcome");
   $( ".printable" ).print();


}
</script>

    <script type="text/javascript" language="javascript">
        function autocomplete(){

            $("#id_staffname").autocomplete({
                //minLength: 0
                source: "/hrm/hrm/findstaffname/",

                select: function( event, ui ) {
                    $( "#id_staffid" ).val( ui.item.staffid );
                    $( "#id_staffname" ).val( ui.item.name );
                    // $( "#project-description" ).html( ui.item.desc );
                    //$( "#project-icon" ).attr( "src", "images/" + ui.item.icon );
                    openrec();

                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

        }

    </script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing ...';
            button.disabled = 'true';
            return true;
        }
    </script>
<script language="javascript" type="text/javascript">
    function openrec()
    {
        var data='userid='+'test';
        $.ajax({
            type:"POST",
            url:"/header/",
            data:data,
            success:function(html) {
                $(".boxnn").show();
                $(".boxnn").html(html);
            }
        });
        return false;
    }
</script>

 {%endblock%}