{% extends "leave/base.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
<div class="pmiddle">
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;font-family:verdana;font-size:11px;color:black">
<div align ="center" style="background-color:#ccccc0;border:0px solid black;width:100%; font-size:12px;color:black"> LEAVE SETUP </div>
<div align="center" style="color:red;font-family:verdana;font-size:16px;text-decoration:blink;background-color:#ccccc0;" > {{varerr}}</div>
<table  style = "font-family:verdana;font-size:12px;width:85%">

                    <tr>

                        <td colspan="2" >
<form action="" method="post" name ="main" onsubmit="disable(this)">
<table align ="left" style="width:auto">
<tr>
        <td>
Leave Name :
        </td>
<td>{{ form.name}}
</td>
</tr>
<tr>
<td colspan="2">
<input name="submit" type= "submit" value="Create Leave" >
 </td>

</tr></table>
</form>
    </td>
    </tr>

<tr>
<td colspan = "7">
<input name="submitprint" type= "submit" value="Print Report"  onclick = "openrecprint();">
<div class="printable">
<table style="width:100%;color:black;border-collapse:collapse;">
<tr>
              <td align="center" valign="top" style = "width:auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black">S/N</td>
              <td align="left" valign="top" style = "width:auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black">Existing Leaves</td>
</tr>
         {% for pincode in getdetails %}
 <tr>
            <td align="center" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> {{ forloop.counter}} </td>
              <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <a href="#" style ="color:blue;" onclick="admno({{ pincode.id }});" title="Edit Leave Set Up"> {{ pincode.name }} </a></td>
           <!--  <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong><a href="/leave/leavesetup/{{ pincode.id }}/" style ="color:blue;"> {{ pincode.name }} </a></strong></td>-->
                                     {% endfor %}
</tr>
</table>
</div>


</td>
</tr>
</table>
</div>

<!-- parti-->
<script>
$(document).ready(function() {
                 $("#id_name").focus();

});
</script>
<script language="javascript" type="text/javascript">
function openrecprint()
{
  //alert("welcome");
   $( ".printable" ).print();


}
</script>
    <div id="myDialog" >
    </div>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialog").hide();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function admno(vid){
            //alert(vid);
            var state = vid;
            var url = "/hrm/leave/getleave/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialog").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:"auto",
                width:550,
                title:'Edit Leave Setup ',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing ...';
            button.disabled = 'true';
            return true;
        }
    </script>


</div>
 {%endblock%}