
{% block content %}

    {% load humanize  %}

    <div  style="width:100%;font-family:times;" >
        <!--
        <div style="font-size:15px;font-style:italic;color:red;height:12px;text-align:left;font:times;padding-bottom:29px;">
            SchApp(v2.1)<br>
        </div>-->
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;">
            Logged in as: <span style="color:red;font-style:italic;"> {{ useracc.username|upper }}</span>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;" title="Change Your Password">
            <a href="#" style="color:#000" onClick= "getdialogtrynew();">Change Password</a>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;" title="Log Out">

            <a href="/logout/">Log Out</a>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;" title="Main Page">
            <a href="/welcome/" style="color:blue;font-weight:bold;font:Arial;font-size:12px;">Main Page</a>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;" title="Search For Student">
            <a href="/student_search/" style="color:red;font-weight:bold;font:Arial;font-size:12px;">Search For Student</a>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;">
            <a href="/SchApp/account/" style="color:blue;font-weight:bold;font:Arial;font-size:12px;">Account</a>
        </div>
        <div style="font-size:12px;font-style:italic;color:#000;text-align:left;height:21px;font-weight:normal;">
            <a href="/hrmes/" style="color:blue;font-weight:bold;font:Arial;font-size:12px;">Human Resources</a>
        </div>
        <div style="font-size:17px;font-style:italic;color:red;height:40px;text-align:left;font-weight:normal;">
            System Date :
            <span style="color:#000;">{{ vvtoday }} </span>
        </div>
        <!--
    <div style="font-size:14px;font-style:italic;height:223px;width:193px;overflow:auto;text-align:left;font-weight:bold;border: 1px solid #336666;" >
       Latest News <br>

        <span style="font-size:10px;font-weight:normal;">
            {% if news %}
            {% for pincode in news %}
               <ul>
                   <li>
                       <a href="#" onClick= "getdialogtrynews( {{ pincode.id }});"> {{ pincode.news|truncatewords:"5" }}</a>
                   </li>
               </ul>

            {% endfor %}
            {% else %}
          <p> No News </p>
          {% endif %}

        </span>
    </div>-->

    </div>

    <div id="myDialognew" title="Change Password">
    </div>
    <div id="mynews" title="News">
    </div>


    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialognew").hide();
            $("#mynews").hide();
        });
    </script>
   <script type="text/javascript" language="javascript">
        function getdialogtrynew(){
            //alert(vid);
            var state = 'test';
            var url = "/getchangepassword/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialognew").html(html);
                    getdialognew();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialognew(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:250,
                width:490,
                title:'Change Your Password',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialognew").dialog(dialogOpts);
        }

    </script>

   <script type="text/javascript" language="javascript">
        function getdialogtrynews(vid){
            //alert(vid);
            var state = vid;
            var url = "/getnews/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#mynews").html(html);
                    getdialognews();
                }
            });
            return false;
        }

    </script>

    <script type="text/javascript" language="javascript">
        function getdialognews(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:"auto",
                width:300,
                title:'Latest News',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#mynews").dialog(dialogOpts);
        }

    </script>

{% endblock %}
