{% extends "budget/base.htm" %}
{% load humanize %}
{%block content%}
    <div align ="center" style="background-color:#ccccc0;width:100%;height:20px;font-size:14px;color:black;vertical-align:middle;text-align:center;padding-top:1px;"> Create Monthly Budget </div>
    <div align="center" style="color:red;font-family:verdana;font-size:14px;text-decoration:blink;" > {{varerr}}</div>
    <table align ="center" style="width:100%">
        <tr>
            <td colspan="8">
                <form action="" method="post" name ="main" id = "form1" onsubmit="disable(this)">
                    <table align ="left" style="border:1px;color:green;background-color:white;width:auto;font-size:12px">
                       <tr>
                           <td colspan="2">
                               <table style="width:100%;text-align:left;">
                                   <tr>
                                       <td>
                                           {{ form.accname.label}}&nbsp;{{ form.accname}}
                                       </td>
                                   </tr>

                                   <tr>
                                       <td>
                                           {{ form.acccode.label}}&nbsp;{{ form.acccode}}
                                       </td>
                                   </tr>
                                   <tr>
                                       <td>
                                           {{ form.acctype.label}}&nbsp;{{ form.acctype}}
                                       </td>

                                   </tr>
                               </table>
                           </td>
                       </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width:100%">
                                    <tr>
                                        <td>{{ form.first.label}} </td>
                                        <td>{{ form.first}}</td>
                                        <td>{{ form.second.label}}</td>
                                        <td>{{ form.second}}</td>
                                        <td>{{ form.third.label}}</td>
                                        <td>{{ form.third}}</td>
                                    </tr>
                                    <tr>                                        
                                        <td> {{ form.four.label}}</td>
                                        <td>{{ form.four}}</td>
                                        <td>{{ form.five.label}}
                                        </td><td>{{ form.five}}</td>
                                        <td>{{ form.six.label}}</td>
                                        <td>{{ form.six }}</td>
                                    </tr>
                                    <tr>                                        
                                        <td>  {{ form.seven.label}}  </td>
                                        <td>{{ form.seven}}</td>
                                        <td>  {{ form.eight.label}}  </td>
                                        <td>{{ form.eight }} </td>                                                              
                                        <td> {{ form.nine.label}}</td>
                                        <td>{{ form.nine}}</td>
                                    </tr>
                                    <tr>                                        

                                        <td>
                                            {{ form.ten.label}}
                                        </td>
                                        <td>{{ form.ten }}
                                        </td>
                                        <td>
                                            {{ form.eleven.label}}
                                        </td>
                                        <td>{{ form.eleven}}
                                        </td>

                                        <td>
                                            {{ form.twelve.label}}
                                        </td>
                                        <td>{{ form.twelve }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">

                                <input name="submit" type= "submit" value="Create Budget" style="height:30px;width:120px;">
                            </td>
                        </tr>
                    </table>
                </form>
        <tr>
            <td colspan = "8">
                {% if getdetails %}


                    <table align ="center" style="width:100%;background-color:white;border-collapse:collapse;">
                    <tr>
                        <td>
                            <input name="submit" type= "submit" value="Print Budget  " onclick="openrecprint();">
                        </td>
                    </tr>

                    <tr>
                    <td>

                    <div class="printable">
                    <table align ="left" style="width:100%;background-color:white;border-collapse:collapse;">

                        <tr>
                            <td align="center" valign="top" style = "width:auto;height:20px;background-color:#FFF;font-size:15px;border:1px solid black;color:#000000;vertical-align:middle;" colspan="16"><strong>{{ comp.name }}<br>{{ comp.address }}<br>Budget Report <br> {{ date }}</strong></td>
                        </tr>

                        <tr>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle">S/N </td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle">Account Name</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle"> Account Type</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> First Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Second Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Third Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Fourth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Fifth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Sixth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Seventh Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Eighth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Ninth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Tenth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Eleventh Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Twelfth Month</td>
                            <td align="center" valign="top" style = "width:auto; height:20px;background-color:#E6E6E6;font-size:11px;border:1px solid black;color:#000000;vertical-align:middle;text-align:right;"> Total</td>


                        </tr>

                        {% for pincode in getdetails %}

                            <tr>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black">{{ forloop.counter }}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000;border:1px solid black"> {{ pincode.accname }}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black"> {{ pincode.groupname}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.first}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.second}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.third}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.four}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.five}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.six}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.seven}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.eight}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.nine}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.ten}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.eleven}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;text-align:right;"> {{ pincode.twelve}}</td>
                            <td align="left" valign="top" style = "background-color:white;font-size:10px;width:auto;color:#000000;border:1px solid black;font-weight:bold;text-align:right;"> {{ pincode.total}}</td>

                        {% endfor %}
                        </tr>
                    </table>
                    </div>
                    </td>
                    </tr>
                    </table>


                {% endif %}

            </td>
        </tr>

    </table >
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#id_accname").focus();
            autocompleteinv()

        });
    </script>
    <script type="text/javascript" language="javascript">
        function autocompleteinv(){
            $("#id_accname").autocomplete({
                source: "/SchApp/account/budget/getaccinvmonth/",
                select: function( event, ui ) {
                    $( "#id_acccode" ).val( ui.item.acccode );
                    $( "#id_accname" ).val( ui.item.accname );
                    $( "#id_acctype" ).val( ui.item.acctype );
                    $( "#id_first" ).val( ui.item.first );
                    $( "#id_second" ).val( ui.item.second );
                    $( "#id_third" ).val( ui.item.third );
                    $( "#id_four" ).val( ui.item.four );
                    $( "#id_five" ).val( ui.item.five );
                    $( "#id_six" ).val( ui.item.six );
                    $( "#id_seven" ).val( ui.item.seven );
                    $( "#id_eight" ).val( ui.item.eight );
                    $( "#id_nine" ).val( ui.item.nine );
                    $( "#id_ten" ).val( ui.item.ten );
                    $( "#id_eleven" ).val( ui.item.eleven );
                    $( "#id_twelve" ).val( ui.item.twelve );
                    $( "#id_first" ).focus();
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };
        }
    </script>
    <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_accname").keyup(function () {
                $( "#id_acctype" ).val("");
                $( "#id_acccode" ).val("");
            });
        });
    </script>
    <script language="javascript" type="text/javascript">
        function openrecprint()
        {
            $( ".printable" ).print();
        }
    </script>


{%endblock%}