{% extends "rsetup/basesetup.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="width:100%;font-family: verdana;color:black">
<div align ="center" style="background-color:#ccccc0;border:0px solid black;width:100%; font-size:12px;color:black"> SET UP BANK </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<table align ="center" style="border:0px solid black;width:100%">
<tr>
    <td colspan="8">


 <form action="" method="post" name ="main" onsubmit="disable(this)">
 <table style="width:auto;">
<tr>
        <td>
Bank Name :
        </td>
<td>{{ form.name}}
</td>
<td>{{ form.name.errors}}
</td>
</tr>
<tr>
        <td>
Sort Code :
        </td>
<td>{{ form.sortcode}}
</td>
<td>{{ form.sortcode.errors}}
</td>
</tr>
<tr>

<td colspan="3" style="text-align:center;">

<input name="submit" type= "submit" value="   Create Bank  ">
 </td>

<td>
</td>
</tr>
     </table>
</form>
    </td>
</tr>
<tr>
    <td colspan="8">


<table align ="left" style="width:50%;color:black;border-collapse:collapse;">
 <tr>
     <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black">S/N</td>
             <td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black">Bank Name</td>
<td align="left" valign="top" style = "width : auto; height:10px;background-color:#e5e5e5;font-size:11px;color:#000000;border:1px solid black">Sort Code</td>
                  </tr>
        {% for pincode in getdetails %}

           <tr>
            <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> {{ forloop.counter }}</td>
             <!--  <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong><a href="/editbank/{{ pincode.id }}/" style ="color:red;"> {{ pincode.name|upper }} </a></strong></td>-->
            <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <a href="#" style ="color:red;" onclick="admno({{ pincode.id }});" title="Edit This Bank"> {{ pincode.name|upper }} </a></td>
<td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> {{ pincode.sortcode|upper }} </td>

            {% endfor %}
           </tr>
</table>
    </td>
</tr>
</table>
</div>


    <div id="myDialog" >
    </div>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialog").hide();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function admno(vid){
            //alert(vid);
            var state = vid;
            var url = "/hrm/getbanksetup/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialog").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:"auto",
                width:490,
                title:'Edit Bank',
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>


<script type="text/javascript">
document.getElementById('id_name').focus()
</script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>

 {%endblock%}
