{% extends "rsetup/basesetup.htm" %}

{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:70%;heigth:10%;font-family: verdana;color:black">
<div align ="center" style="background-color:black;border:0px solid black;width:100%;heigth:10%; font-size:12px;color:white"> <strong>EDIT MINI-STORE NAME  </strong> </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<form action="" method="post" name ="main" onsubmit="disable(this)">

<table align ="center" style="border:0px solid black;width:100%;">
<tr>
        <td>
Stock Name :
        </td>
<td><input type ="text" id="accname" size="35" name="accname" value ="{{getdetails.stockname}}">
</td>
</tr>
<tr>
<td>
Stock Code :
</td>
<td>
<input type ="text" id="acccode" size="20" name="acccode" value ="{{getdetails.acccode}}" disabled="disabled">
</td>
</tr>
<tr>
<td>
Account Name :
</td>
<td>
<input type ="text" id="grpname" size="25" name="grpname" value ="{{getdetails.subname}}" disabled="disabled">
</td>
</tr>
<tr>
        <td align ="left" style="width:30%">


                        </td>
<td align ="left" style="width:30%">

<input name="submit" type= "submit" value="  Update Stock  ">
 </td>
<td align ="left" style="width:30%">
<input type="hidden" name="hcode"
value="{{getdetails.acccode}}">

 </td>
<td align ="left" style="width:30%">
<input type="hidden" name="hgrpname"
value="{{getdetails.subname}}">

 </td>
</tr>
 </table>
</form>
{{acname}}
</div>

<!-- parti-->
<script type="text/javascript">
document.getElementById('accname').focus()
</script>
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
 {%endblock%}