{% extends "rsetup/basesetup.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}

        <div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>SETUP MODULE  </strong> </div>
        <!--<img style ="float:left;width:50px;height:50px" src="/static/imgs/cp.jpeg" alt="">-->
        <div style="font-family:verdana;font-size:16px">User's Guild</div>
        <p>
          This Module contains the following links which you can make use of provided you are giving the privilege:
        <ul>
            <li><h2>Branch</h2></li>
            <p>
                Here,organisation branches is set up.
            </p>
            <li><h2> Department</h2></li>
            <p>
                This link leads us to the page to upload the organisation department.
            </p>
            <li> <h2> Designation </h2></li>
            <p>
                This link takes care of all our designation
            </p>
            <li><h2>Professional Education/Body </h2></li>
            <p>
                This link is to append any Professional qualification to any staff.
            </p>
            <li><h2> Allowance </h2> </li>
            <p>
                For the purpose of generating the organisation payroll and payslip the link give us the privilege to set up all the organisation allowance based on our designation.
            </p>
            <li> <h2> Deduction</h2></li>
            <p>
                As in allowance Above
            </p>
        </ul>
        </p>



 {%endblock%}