{% extends "rsetup/basesetup.htm" %}
{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}

<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;heigth:10%;font-family: verdana;color:black">
<div align ="center" style="background-color:black;border:0px solid black;width:100%;heigth:10%; font-size:12px;color:white"> <strong>CATEGORY CREATION  </strong> </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<table align ="center" style="border:0px solid black;width:100%">
 <form action="" method="post" name ="main">
<tr>
        <td align ="left" style="width:30%">
Category Name :
        </td>
<td align ="left" style="width:30%">{{ form.name}}
</td>
<td align ="left" style="width:30%">{{ form.name.errors}}
</td>

</tr>
<tr>
        <td align ="left" style="width:30%">


                        </td>
<td align ="left" style="width:30%">

<input name="submit" type= "submit" value="   Create Category  " >
 </td>
<td align ="left" style="width:30%">
 </td>
<td>
</td>
</tr>
</form>
<table align ="center" style="border:0px; solid black;width:100%">
 <tr>
             <td align="left" valign="top" style = "width=auto; height=10px;background-color:#E6E6E6;font-size:11px"><strong>Category Name</strong></td>
                  </tr>
        {% for pincode in getdetails %}

           <tr>
               <td align="left" valign="top" style = "background-color:gray;font-size:12px;width:auto;color:Yellow"> <strong><a href="/editcategory/{{ pincode.id }}/" style ="color:yellow"> {{ pincode.name|upper }} </a></strong></td>

            {% endfor %}
           </tr>
</table>
</table>

<!-- parti-->

<script type="text/javascript">
document.getElementById('id_name').focus()
</script>
 {%endblock%}