{% extends "staff/base.htm" %}

{%block head %}
{%block title %}{%endblock%}
{%endblock %}
{%block content%}
    <div class="pmiddle">
        <div align ="center" style="background-color:black;border:0px solid black;width:100%;height:10%; font-size:12px;color:white"> <strong>Staff Matters MODULE  </strong> </div>
        <!--<img style ="float:left;width:50px;height:50px" src="/static/imgs/cp.jpeg" alt="">-->
        <div style="font-family:verdana;font-size:16px">User's Guide</div>
        <p>
            This Module contains the following links which you can make use of provided you are giving the privilege:
        <ul>
            <li><h2>Redeployment</h2></li>
            <p>
               This link takes care of staff redeployment.
            </p>
            <li><h2> Promotion</h2></li>
            <p>
                This link leads us to the page to treat staff promotion.
            </p>
            <li> <h2> Termination </h2></li>
            <p>
                This link is to treat terminated staff record.
            </p>
            <li><h2>Resignation </h2></li>
            <p>
                This link is to manage resignation staff details .
            </p>
            <li><h2> Retirement </h2> </li>
            <p>
                This is to manage retired staff information.
            </p>
            <li> <h2> Reinstatement</h2></li>
            <p>
               To re-install a staff.
            </p>
        </ul>
        </p>

    </div>
{%endblock%}
